deepface==0.0.93
requests==2.32.3
numpy==1.23.5
pandas==2.0.3
gdown==5.2.0
tqdm==4.66.6
pillow==10.4.0
opencv-python==4.10.0.84
tensorflow==2.12.0
keras==2.12.0
Flask==3.0.3
Flask-Cors==5.0.0
mtcnn==0.1.1
retina-face==0.0.17
fire==0.7.0
gunicorn==23.0.0
pycryptodome==3.21.0
pycparser==2.22
cffi==1.17.1
argon2-cffi-bindings==21.2.0
argon2-cffi==23.1.0
minio==7.2.10
boto3==1.35.76
botocore==1.35.76
jmespath==1.0.1
s3transfer==0.10.4
urllib3==1.26.20
greenlet==3.1.1
SQLAlchemy==2.0.36
asyncpg==0.30.0
python-dotenv==1.0.1
Flask-Cors==5.0.0